@model ReactApp.DTO.UserListDTO

@{
    Layout = "_LTELayout";
    ViewBag.Title = "Users";
}


<body>
    <div id="content"></div>
    @section Scripts{
    <script src="@Url.Content("~/js/Components/rowButtonComponent.jsx")"></script>
    <script src="@Url.Content("~/js/Components/tableComponent.jsx")"></script>
    <script src="@Url.Content("~/js/Components/usersDisplayComponent.jsx")"></script>
    <script src="@Url.Content("~/js/users.jsx")"></script>
    @Html.ReactInitJavaScript()
    <script>
        $(function () {
            DisplayUsers(@Html.Raw((Json.Serialize(Model))));
        });
    </script>
    }
</body>

