@model ReactApp.ViewModels.Sessions.SessionDetailViewModel

@{
    Layout = "_LTELayout";
    ViewBag.Title = "Session details";
}
@if (ViewBag.Error != true)
{
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Items</span>
                        <span class="info-box-number">@Model.ItemCount</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Payments</span>
                        <span class="info-box-number">@Model.PaymentMade</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Szczegóły</h3>
                    </div>
                    <div class="box-body box-profile">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Nazwa</b> <a class="pull-right">@Model.Session.Name</a>
                            </li>
                            <li class="list-group-item">
                                <b>Czas rozpoczęcia</b> <a class="pull-right">@Model.Session.StartDate</a>
                            </li>
                            <li class="list-group-item">
                                <b>Identyfikator</b> <a class="pull-right">@Model.Session.Identifier</a>
                            </li>
                        </ul>
                    </div><!-- /.box-body -->
                </div>
            </div><!-- /.col -->
        </div>

        @if (Model.ItemCount > 0)
        {
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayName("Name")</th>
                                <th>@Html.DisplayName("Price")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items.Items)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

}
else
{
        <div class="alert alert-info">@ViewBag.ErrorMessage</div>
        }
